#spring boot
spring.main.banner-mode=
spring.output.ansi.enabled=
spring.cache.jcache.config=
spring.sql.init.mode=

spring.mvc.log-request-details=
org.springframework.cache=

#logging
logging.level.root=
logging.level.org.springframework=
logging.level.org.springframework.web=

logging.pattern.console=%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:%5p}) %clr(${PID:}){magenta} %clr(-[%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}


#data-source config
spring.datasource.url=
spring.datasource.driverClassName=
spring.datasource.username=
spring.datasource.password=


#jpa
spring.jpa.show-sql=
spring.jpa.open-in-view=
spring.jpa.database-platform=
#sequence.allocation.size=
#spring.jpa.properties.javax.persistence.schema-generation.scripts.action=
#spring.jpa.properties.javax.persistence.schema-generation.scripts.create-target=
#spring.jpa.properties.hibernate.hbm2ddl.import_files=


#hibernate
spring.jpa.hibernate.ddl-auto=
spring.jpa.properties.hibernate.jdbc.batch_size=
spring.jpa.properties.hibernate.order_inserts=
spring.jpa.properties.hibernate.batch_versioned_data=

spring.jpa.properties.hibernate.generate_statistics=
spring.jpa.database-spring.jpa.hibernate.use-new-id-generator-mappings=

spring.jpa.properties.hibernate.format_sql=
hibernate.cache.use_query_cache=
hibernate.cache.use_second_level_cache=
hibernate.cache.region.factory_class=
#hibernate.hbm2dll.create_namespaces=
#spring.jpa.properties.hibernate.jdbc.time_zone=
#spring.jpa.properties.hibernate.cache.use_second_level_cache=

#data base configm h2
spring.h2.console.enabled=
spring.h2.console.path=
spring.h2.console.settings.trace=
spring.h2.console.settings.web-allow-others=

#tomcat
server.port=9090

#jackson
#spring.jackson.serialization.FAIL_ON_EMPTY_BEANS=

#app
dump.script.path=